<h2> List of all Students </h2>
<a href = "/students/new"> New Student</a>
<table id="student">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>First Name</th>
      <th>Second Name</th>
      <th>house</th>
      <th>age</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    <% for student in @students%>
      <tr>
        <td><%=student.id%></td>
        <td><%=student.first_name%></td>
        <td><%=student.second_name%></td>
        <td><%=student.house%></td>
        <td><%=student.age.to_i%></td>
        <td><a href="/students/<%= student.id %>">Edit</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
